@media screen and (width < 992px) {
    :root {
        --header-padding-x: 102px;
    }
    
    .nav-toggler {
        display: flex;
    }

    .header {
        border: none;
    }

    .nav {
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        height: 0px;
        align-items: flex-start;
        border-bottom: var(--default-border);
        overflow: hidden;
        transition: height var(--transition-duration);
    }

    .nav.nav-open {
        height: 275px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0;
        background-color: var(--bg-color);
    }

    .nav-item {
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
    }
}

@media screen and (width < 768px) {
    :root {
        --header-padding-x: 76px;
    }
}

@media screen and (width < 576px) {
    :root {
        --header-padding-x: 40px;
    }
}